<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kxl.home.project.mapper.MethodCallMapper">
    
    <resultMap id="methodCall" type="org.kxl.home.project.entity.MethodCall">
        <result property="id" column="id"/>
        <result property="className" column="class_name"/>
        <result property="parentClass" column="parent_class"/>
        <result property="implementsClasses" column="implements_classes"/>
        <result property="methodName" column="method_name"/>
        <result property="methodParamCount" column="method_param_count"/>
        <result property="methodParamType" column="method_param_type"/>
        <result property="callMethod" column="call_method"/>
        <result property="callClassMethod" column="call_class_method"/>
        <result property="callMethodParamCount" column="call_method_param_count"/>
        <result property="callMethodParamType" column="call_method_param_type"/>
        <result property="projectName" column="project_name"/>

    </resultMap>

    <delete id="deleteByProjectName">
        delete from autopart_method_call where project_name=#{projectName}
    </delete>
    
    <select id="findByCallClassMethodAndProjectName" resultMap="methodCall">
        select
            min(c.id) as id,c.class_name,c.parent_class,c.implements_classes,c.method_name,c.method_param_count,c.method_param_type,
            c.call_method,c.call_class_method,c.call_method_param_count,c.call_method_param_type,c.project_name
        from autopart_method_call c where project_name=#{projectName} and c.call_method_param_count=#{callMethodParamCount} and c.call_class_method in
        <foreach item="desc" index="index" collection="callDescs" open="(" separator="," close=")">
            #{desc}
        </foreach>
            group by c.class_name,c.parent_class,c.implements_classes,c.method_name,c.method_param_count,c.method_param_type,c.call_method,c.call_class_method,c.call_method_param_type
    </select>
    
    <select id="findByClassNameAndMethodNameAndParamCount" resultMap="methodCall">
        select * from autopart_method_call c where c.class_name=#{className} and method_name=#{methodName} and method_param_count=#{methodParamCount} and project_name=#{projectName}
    </select>

    <select id="findByCallClassLikeMethodAndProjectName" resultMap="methodCall">
        select * from autopart_method_call c where c.call_class_method like "%"#{callDesc} and project_name=#{projectName}
    </select>

    <insert id="saveBatch" parameterType="java.util.List">
        insert into autopart_method_call (class_name, parent_class, implements_classes, method_name, method_param_count, method_param_type, call_method,call_class_method,call_method_param_count,call_method_param_type,project_name) values
        <foreach collection="list" item="c" separator=",">
            (#{c.className},#{c.parentClass},#{c.implementsClasses},#{c.methodName},#{c.methodParamCount},#{c.methodParamType},#{c.callMethod},#{c.callClassMethod},#{c.callMethodParamCount},#{c.callMethodParamType},#{c.projectName})
        </foreach>
    </insert>

</mapper>